.register .divider {
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 1px solid transparent;
    margin-top: 10px;
    width: 300px;
}


.register form p {
    margin-bottom: 100px;
}

input[type="file"] {
    display: none;
}

.file-label {
    display: flex !important;
    align-items: center !important;
    color: #808080;
}

.image-preview img {
    background-color: #000;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.register p {
    margin-top: 10px;
}