.mobilenavbar {
    position: fixed;
    display: none;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #000;
    align-items: center;
    justify-content: space-around;
}

.mobilenavbar svg {
    width: 36px;
    height: 36px;
    fill: #bebebe;
}

.mobilenavbar .active svg,
.mobilenavbar .active g {
    fill: white !important;
}

.mobilenavbar img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .mobilenavbar {
        display: flex;
    }

    .player {
        bottom: 130px !important;
    }
}