.mobilenavbar {
    position: fixed;
    display: none;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color: #0f0f0f;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
    z-index: 999;
    border-top: 1px solid #303030;
}

.sidebar-link  {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-decoration: none;
}

.sidebar-link p {
    margin: 0;
    top: -3px;
    position: relative;
    color: #fff;
    font-size: 12px;
}

.mobilenavbar svg {
    width: 34px;
    height: 34px;
    fill: #bebebe;
}

.mobilenavbar p {
    color: #bebebe;
}

.prof-ima.active img {
    border: 2px solid #fafafa;
    width: 24px;
    height: 24px;
}

.mobilenavbar .active svg,
.mobilenavbar .active g {
    fill: white !important;
}

.prof-ima {
    gap: 5px;
    margin-top: 3px;
}

.mobilenavbar .active p {
    color: #fff;
}

.mobilenavbar img {
    width: 28px;
    height: 28px;
    border-radius: 100%;
}

@media (max-width: 600px) {
    .mobilenavbar {
        display: flex;
    }

    .player {
        bottom: 130px !important;
    }
}