.profile {
    top: 40px;
    width: calc(100vw - 400px);
    left: 300px;
    position: relative;
}

.profile .top {
    display: flex;
    position: relative;
    width: 100%;
    gap: 20px;
}

.profile .top img {
    border-radius: 100%;
    width: 225px;
    height: 225px;
    margin-bottom: 30px;
}

.profile .top h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: -10px;
}

.profile .top li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

.profile .top li p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile .top li strong {
    font-weight: 600;
    font-size: 18px;
}

.profile .top .bio {
    width: 400px;
    position: relative;
}

.profile hr {
    border: none;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 20px;
}

.profile .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 100px;
}

.profile .bottom div {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 9 / 13;
    position: relative;
    cursor: pointer;
}

.image-container::after {
    content: "";
    position: absolute; 
    bottom: 7px;
    left: 0;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 1%, transparent);
}

.profile .logout {
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background-color: transparent;
    color: #000000;
    font-weight: 400;
    cursor: pointer;
    z-index: 200;
    font-size: 14px;
    font-family: "poppins";
}

@media (max-width: 1200px) {
    .profile .bottom div {
        flex-basis: calc((100% - 10px) / 4);
    }
}

@media (max-width: 900px) {
    .profile .bottom div {
        flex-basis: calc((100% - 5px) / 3);
        min-width: none;
    }
}

@media (max-width: 600px) {
    .profile .bottom div {
        flex-basis: calc((100% - 5px) / 2);
    }

    .profile .logout {
        position: relative;
        border: none;
    }
}

@media (max-width: 1100px) {
    .profile {
        width: calc(100vw - 60px);
        left: 25px;
    }

    .profile .top img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 690px) {
    .profile .bio {
        width: calc(100vw - 100px) !important;
    }

    .profile h4 {
        font-size: 18px !important;
        margin-top: -30px !important;
    }

    .profile .top img {
        width: 150px;
        height: 150px;
    }

    .profile .bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        margin-bottom: 100px;
    }

    .profile .top {
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
    }

    .profile li {
        justify-content: center;
    }

    .profile li p {
        flex-direction: column;
        font-size: 14px;
        width: calc(100% / 4);
        min-width: 70px;
    }

    .profile li strong {
        margin-bottom: -10px;
        font-size: 16px !important;
    }

    .profile hr {
        width: calc(100% + 8px);
    }

    .profile {
        left: 10px;
        width: calc(100vw - 30px);
        margin-bottom: 200px;
    }
}

/* @media (max-width: 400px) {
    .profile .bottom div {
        flex-basis: calc((100% - 5px) / 2);
        max-width: 250px;
    }
}
 */
.profile .bottom p {
    position: absolute;
    bottom: -5px;
    left: 10px;
    color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.profile .bottom img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}