.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    padding: 30px;
    left: 300px;
    width: calc(100vw - 400px);
    border: 1px dashed #2e2e2e;
    background-color: #0f0f0f;
    border-radius: 10px;
    color: white;
}

.create img {
    fill: #fff;
}
  
.create .drop-area {
    width: 100%;
    height: 500px;
    border: 1px dashed #2e2e2e;
    background-color: #0f0f0f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.create p,
.create h4 {
    margin-bottom: -15px;
}

.create h4 {
    font-size: 22px;
    font-weight: 600;
}

.create p {
    font-size: 16px;
    color: #777
}

.create .upload-btn {
    background-color: #e41b45;
    margin-top: 30px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    padding: 6px 50px;
    transition: 0.2s;
}

.create .upload-btn:hover {
    background-color: #cc143c;
}
  
.create .drop-area:hover {
    border-color: #0075dc;
    background-color: #f0f7fd;
}
  
.create .file-name {
    margin-top: 10px;
    font-weight: bold;
}

.create .helping-instructions {
    display: flex;
    list-style: none;
    width: 100%;
    gap: 20px;
    margin: 20px 0 10px 0;
}

.create .helping-instructions li {
    width: calc(100% / 4);
    margin-left: 26px;
}

.create .helping-instructions h2 {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: -26px;
    font-size: 17px;
    font-weight: 600;
}

.create .helping-instructions p {
    font-size: 13px;
    color: #777;
    margin-top: -12px;
}

@media (max-width: 1100px) {
    .create {
        left: 0px;
        top: 0px;
        margin: 25px;
        width: calc(100vw - 112px);
    }

    .create h4 {
        font-size: 18px;
        font-weight: 600;
    }
    
    .create p {
        font-size: 14px;
        color: #777
    }

    .create .helping-instructions {
        display: grid;
        grid-template-columns: 2fr 2fr;
        list-style: none;
        width: 100%;
        gap: 20px;
        margin: 20px 0 10px 0;
    }

    .create .helping-instructions li {
        width: calc(100% - 40px);
    }
}

@media (max-width: 600px) {
    .create {
        position: relative;
        top: 0px;
        padding: 10px;
        margin: 10px;
        height: calc(100vh - 160px);
        border: none;
        width: calc(100vw - 40px);
    }

    .create .drop-area {
        height: 20vh !important;

    }

    .create .drop-area img {
        display: none;
    }

    .create .drop-area .upload-btn {
        margin-bottom: 20px;
    }

    .create .helping-instructions {
        display: flex;
        flex-direction: column;
    }
}