.explore {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    position: relative;
    margin-left: 300px;
    margin-right: 200px;
    gap: 5px;
    padding: 65px 0px /* calc(100vh - 530px) 0px */ !important;
}

.explore-cnt {
    height: 100vh;
}
  
.explore .image-containera {
    position: relative;
    overflow: hidden;
    /* border-radius: 8px; */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
  
.explore .image-containera img,
.explore .image-containera video {
    width: 100%;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: cover;
}

.explore .dots {
    background-color: #25282d;
    top: 10px;
    right: 20px;
    width: 44px;
    border-radius: 10px;
    z-index: 4;
    height: 44px;
    outline: none;
    border: none;
    position: fixed;
}

.explore .dots svg {
    left: 9px;
    position: absolute;
}
  
.explore .image-containera p {
    position: absolute;
    bottom: 8px;
    left: 8px;
    margin: 0;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.explore .like-icon {
    margin-right: 4px;
}

.search-container {
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px 20px;
    z-index: 3;
    display: none;
}

.search-input {
    width: calc(100vw - 80px); /* 200px when there is the dots */
    border-radius: 10px;
    font-family: "Poppins";
    background-color: #25282d;
    color: #fff;
    position: fixed;
    font-size: 15px;
    padding: 10px 20px;
    outline: none;
    border: none;
    z-index: 3;
}

.search-container svg {
    width: calc(200px / 9);
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    z-index: 4;
    top: 9px;
    left: 15px;
}

.search-input::placeholder {
    color: #a3a7b0;
}

@media (max-width: 1731px) {
    .explore {
        margin-right: 20px;
    }
}

@media (max-width: 1100px) {
    .explore {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px;
        padding: 0px;
        gap: 2px;
        background-color: #0c0f14;
    }

    .explore .image-containera {
        border-radius: 0px;
    }

    .explore-cnt {
        background-color: #0c0f14 !important;
        height: 100vh;
    }
}

@media (max-width: 600px) {
    .search-container,
    .explore .dots {
        display: block !important;
    }
}


.image-containera svg {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
}