.player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: calc(100vh - 55px);
    overflow: hidden;
}

.player video,
.player img {
    width: 50vh;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 60px;
    cursor: pointer;
}

.player .player-with-all-the-fucking-other-stuff {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.player .player-with-all-the-fucking-other-stuff video,
.player .player-with-all-the-fucking-other-stuff img {
    height: calc(100vh - 55px);
    background: #000 !important;
}

.player .player-with-all-the-fucking-other-stuff .gradient-overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .5));
}

.player .player-with-all-the-fucking-other-stuff p {
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    left: 70px;
}

.player .player-with-all-the-fucking-other-stuff strong {
    font-weight: 500;
}

.player .profile-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    bottom: -8px;
    position: absolute;
    display: none; /* to remove later */
}

.player svg path {
    fill: #000000;
}

.player li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.player li p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #2c2c2c;
}

.player .player-controls video,
.player .player-controls img {
    width: 24px;
    margin: 0;
}

.player li svg {
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: -10px !important;
}

.player li p {
    color: #fff;
}

.player li svg path {
    fill: #fff; 
}

.player .player-controls {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left: 10px;
    margin-bottom: -16px;
}

.player .player-controls li {
    z-index: 29;
}

.player .profile-icon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}

.player .player-volume {
    position: absolute;
    top: 10px;
    left: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #00000063;
    padding: 0 10px;
    border-radius: 10px;
}

.player input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 2px;
    background: #868686;
    border-radius: 25px;
    outline: none;
    position: relative;
}

.player input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 5px;
}

.player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-top: -2px;
}

.player input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8px;
    background: #6E5A91;
    border-radius: 5px;
}

.player input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #C2B6E9;
    border-radius: 50%;
    cursor: pointer;
}

.player .player-volume svg path {
    fill: #fff !important;
}

.player audio {
    width: 0;
    height: 0;
    position: absolute;
    top: -200dvh;
    display: none;
}

.player .settings {
    position: absolute;
    right: 10px;
    top: 10px;
}

.player .settings svg {
    fill: #000;
    background-color: #f2f2f262;
    padding: 6px;
    border-radius: 100%;
}

.player .profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    object-fit: cover;
}

.player .profile-icon span {
    background-color: #e1002d;
    color: #fff;
}

.player svg {
    width: 24px;
    height: 24px;
    fill: rgb(0, 0, 0);
    cursor: pointer;
}

.player li svg:hover,
.player video:hover,
.player img:hover {
    background-color: #2f2f2f;
}

.scroll-to {
    animation: scroll-to .5s ease;
}

.scroll-to-up {
    animation: scroll-to-up .5s ease;
}

.opacity0 {
    opacity: 0;
    transition: .25s ease;
}

.player .default {
    position: absolute;
    opacity: .3;
    top: 50%;
    left: calc(50% - 30px);
    border: 1px solid #eee;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.player .desc {
    max-width: calc(100% - 80px) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.message-box {
    position: absolute;
    bottom: -50px;
    left: calc( 50% - 5px);
    transform: translateX(-50%);
    padding: 10px 20px 0 20px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 28;
    width: 390px;
    height: 80px;
}

.message-box p {
    text-align: center;
    position: relative;
    top: -18px;
    font-size: 16px;
}
  
.message-box.show {
    bottom: 20px;
    opacity: 1;
    z-index: 30;
}

.message-box .flex-cnt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: -20px 0 -10px 0;
}

.message-box .flex-cnt li {
    display: flex;
    align-items: center;
}

.message-box .flex-cnt li h5 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.message-box .flex-cnt li p {
    font-size: 12px;
    font-weight: 400;
    color: #333;
}

.message {
    background-color: #f2f2f2;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}

.message-also-pt2 {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.message h2 {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.message-also-pt2 .message {
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
}

.message-also-pt2 .message h2 {
    width: 100%;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: wrap;
    padding: 0px 5px;
}

.player .close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;
}

.player .close-button svg,
.player .copy-button svg {
    width: 20px;
    height: 20px;
}

.close-button svg path {
    fill: #000;
}

.player .copy-button {
    background-color: transparent;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    width: 35px;
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 32px;
    transition: .2s ease;
    cursor: pointer;
    margin: 0 5px;
}

.player .copy-button:hover {
    background-color: #fff;
}

.player .hashtags-cnt {
    left: -50%;
    position: relative;
    transform: translateX(50%);
}

.player .hashtags-cnt p {
    text-align: start;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}

@keyframes scroll-to {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20dvh);
    }
    100% {
        transform: translateY(-100dvh);
    }
}

@keyframes scroll-to-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20dvh);
    }
    100% {
        transform: translateY(100dvh);
    }
}

@keyframes scroll-to-1000 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20dvh);
    }
    100% {
        transform: translateY(100dvh);
    }
}

@keyframes scroll-to-other {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20dvh);
    }
    100% {
        transform: translateY(-100dvh);
    }
}

@media (max-width: 600px) {
    .player .player-controls {
        position: absolute;
        bottom: 10px;
        right: 5px;
        margin-bottom: 5px;
    }

    .player .profile-icon img {
        margin-top: 10px;
    }

    .player svg path {
        fill: #fff;
    }    

    .opacity0-2 {
        opacity: 0;
        transition: .25s ease;
    }

    .player .player-volume {
        left: 10px;
        gap: 10px;
        display: none;
    }

    .scroll-to-other {
        animation: scroll-to-other .5s ease;
    }

    .scroll-to-1000 {
        animation: scroll-to-1000 .5s ease;
    }

    .player {
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
    }

    .player .player-with-all-the-fucking-other-stuff video,
    .player .player-with-all-the-fucking-other-stuff img {
        width: 100dvw;
        height: calc(100dvh - 55px);
        border-radius: 0;
    }

    .player .gradient-overlay {
        border-radius: 0 !important;
    }

    .message-box.show {
        bottom: 10px;
    }

    .message-box {
        width: calc(100dvw - 60px) !important;
    }

    .message-box {
       left: 50%;
    }

    .close-button {
        top: 5px !important;
        position: absolute;
    }

    .close-button svg {
        transform: scale(.7);
    }

    .close-button svg path,
    .copy-button svg path {
        fill: #000;
    }

    .player {
        height: calc(100dvh - 55px);
    }

    .player svg {
        width: 30px!important;
        height: 30px!important;
    }

    .player .profile-icon img {
        width: 45px;
        height: 45px;
        border: 1px solid #fff;
    }

    .player .player-controls p {
        margin-top: 0px;
    }

    .player .player-controls li {
        margin-bottom: -10px;
    }

    .player .player-controls svg,
    .player .player-controls .save path {
        fill: #fff !important;
        background-color: transparent !important;
        background: radial-gradient(circle, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 60%);
    }

    .player .player-controls .profile-icon svg {
        background-color: transparent !important;
    }

    .player .player-controls p {
        color: #fff;
        margin-top: 10px;
    }

    .player .default {
        margin-left: 30px;
    }

    .player .gradient-overlay {
        margin-left: -60px;
        border-radius: 0;
    }

    .player video,
    .player img {
        margin: 0;
    }

    .player .player-with-all-the-fucking-other-stuff p {
        left: 10px;
    }
}

@media (max-width: 490px) {
    .player .player-with-all-the-fucking-other-stuff  video,
    .player .player-with-all-the-fucking-other-stuff img {
        width: 100dvw;
        height: calc(100dvh);
        border-radius: 0;
    }

    .player .default {
        display: none;
    }
    
    .player {
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
        background-color: #000;
    }

    .player .gradient-overlay {
        border-radius: 0 !important;
    }

/*     .mobile {
        display: flex;
        position: absolute;
        bottom: 0;
        top: 0;
        background-color: red;
        width: 100%;
    } */
}


.player .player-with-all-the-fucking-other-stuff video,
.player .player-with-all-the-fucking-other-stuff img {
    max-width: 100dvw;
    object-fit: contain;
    background-color: #000 !important;
}

.player .default {
    display: none;
}

/* .player div {
    background-color: red !important;
} */

.player .liked {
    fill: #e1002d !important;
}

.player .liked path {
    fill: #e1002d !important;
}

.player .like-smash {
    position: absolute;
    width: 300px;
    left: calc(50% - 60px);
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent !important;
}

.comments {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.close-button-com {
    width: 30px;
    height: 30px;
    padding-right: 20px;
    cursor: pointer;
}

.comment-item div {
    display: flex;
    align-items: start;
    gap: 15px;
}

.comment-item .cmt-d {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin: 0;
    gap: 0;
}

.comment-item .cmt-d div {
    gap: 7px;
}

.comment-item .cmt-d p {
    margin: 0;
    max-width: 350px;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 12px;
    font-weight: 400;
    top: 1px;
    position: relative;
}

.comment-item .cmt-d .comment-author {
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    top: 0;
}

.comment-picture {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.comments-header {
    position: sticky;
    top: 0;
    background-color: #0f0f0f;
    color: #fff;
    z-index: 1000;
    border-bottom: 1px solid #1f1f1f;
}

.comments-header div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

.comments-header h3 {
    font-weight: 600;
}

.comments-header div p {
    position: relative;
    top: 2px;
    font-weight: 400;
    color: #a1a1a1;
}

.comment-date {
    font-size: 0.8rem;
    color: #a1a1a1;
}

.comments-list {
    margin-bottom: 20px;
}

.comment-item {
    margin-bottom: 10px;
}

.comments-visible {
    left: 50% !important;
    transition: 0.2s ease;
}

.comments-modal hr {
    border: none;
    border-bottom: 1px solid #1f1f1f;
}

.comment-form {
    height: 50px;
    border-top: 1px solid #1f1f1f;
    background-color: #0f0f0f;
    bottom: 29px;
    border-radius: 10px;
    position: fixed;
    width: 435px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
}

.comment-form input {
    border: none;
    outline: none;
    width: calc(100% - 80px);
    background-color: #1f1f1f;
    padding: 8px 20px;
    color: #fff;
    font-family: "Poppins";
    border-radius: 4px;
}

.comment-form svg {
    width: 30px;
}

.comment-form svg path {
    fill: #fff;
}

.comments-modal {
    min-width: 450px;
    display: block;
    z-index: 999;
    border-radius: 10px;
    height: calc(100dvh - 60px);
    position: fixed;
    right: 30px;
    top: 0;
    border: 1px solid #1f1f1f;
    margin: 30px;
    overflow-Y: auto;
}

.comments-visible {
    left: 40% !important;
    transition: 0.2s ease;
}
  
.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comments-list {
    overflow-y: auto;
}

.comment-item {
    border-bottom: 1px solid #1f1f1f;
    padding: 0px 0 10px 0;
}

.close-button-com {
    fill: #fff;
}

.comment-item:last-child {
    margin-bottom: 50px;
}

.comment-item:first-child {
    margin-top: 10px;
}

.show-com {
    animation: slideUp .2s ease;
}

.del-com {
    animation: slideDown .2s ease;
}

.comment-text {
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #0f0f0f;
    border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb {
    background: #1f1f1f;
    border-radius: 10px 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
}

@keyframes slideUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.comments-unvisible {
    left: 50% !important;
    transition: 0.2s ease;
}
  
@media (max-width: 1400px) {
    .comments-modal {
        background-color: #f9f9f9;
        position: absolute;
        left: calc(50% - 35px);
        bottom: 0;
        max-height: 80dvh;
        transform: translateX(-50%);
        width: 400px;
        border: 1px solid #dadada;
    }

    .comment-form {
        background-color: #f9f9f9;
        border: 1px solid #dadada;
    }
    
    .comment-form input {
        background-color: #eee;
        color: #000;
    }
    
    .comment-form svg path {
        fill: #000;
    }

    .comments-header {
        border-bottom: 1px solid #dadada;
    }

    .comment-item {
        border-bottom: 1px solid #dadada;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #f9f9f9;
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 10px;
    }

    .comments-header h3,
    .comment-author,
    .comment-text {
        color: #000 !important;
    }

    .close-button-com {
        fill: #000;
    }
    
    .comments-modal {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .comments-modal {
        background-color: #f9f9f9;
        position: absolute;
        overflow-x: hidden;
        top: 10vh;
        z-index: 1000;
        max-height: 80dvh;
        transform: translateX(-50%);
    }

    .comments-header {
        background-color: #f9f9f9;
    }

    .comments-header div p {
        color: #666;
    }
    
    .comment-date {
        color: #666;
    }
    

    .comments-list {
        margin: 0;
    }

    .comment-form {
        position: absolute;
        bottom: 0;
    }
    
    .comments-visible {
        left: 50% !important;
    }
    
    @keyframes slideUp {
        0% {
            transform: translate(-50%, 50%);
        }
        100% {
            transform: translateY(-50%, -50%);
        }
    }

    @keyframes slideDown {
        100% {
            transform: translate(-50%, 50%);
        }
        0% {
            transform: translateY(-50%, -50%);
        }
    }
}

@media (max-width: 600px) {
    .comments-modal {
        left: calc(50% - 30px);
        border-radius: 10px 10px 0 0;
        min-width: 100px;
        height: 600px;
        min-height: 600px;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100dvw);
        top: calc(100dvh - 329px) !important;
    }

    .comment-form {
        width: calc(100dvw - 10px);
    }

    .comment-text {
        margin-right: 20px !important;
    }
}