.player {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: calc(100vh - 50px);
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

.player img {
    width: 50vh;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 60px;
    cursor: pointer;
}

.player .player-with-all-the-fucking-other-stuff {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.player .player-with-all-the-fucking-other-stuff img {
    height: calc(100vh - 50px);
    background: linear-gradient(to bottom, #ffffff, #dadada) !important;
}

.player .player-with-all-the-fucking-other-stuff .gradient-overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .5));
}

.player .player-with-all-the-fucking-other-stuff p {
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    left: 70px;
}

.player .player-with-all-the-fucking-other-stuff strong {
    font-weight: 500;
}

.player .profile-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    bottom: -8px;
    position: absolute;
}

.player span svg {
    fill: #fff;
}

.player li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.player li p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #2c2c2c;
}

.player .player-controls img {
    width: 24px;
    margin: 0;
}

.player li svg {
    background-color: #eee;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: -10px !important;
}

.player .player-controls {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left: 10px;
    margin-bottom: -16px;
}

.player .profile-icon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 40px;
}

.player .profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.player .profile-icon span {
    background-color: #e1002d;
    color: #fff;
}

.player svg {
    width: 24px;
    height: 24px;
    fill: rgb(0, 0, 0);
    cursor: pointer;
}

.player li svg:hover,
.player img:hover {
    background-color: #dadada ;
}

.scroll-to {
    animation: scroll-to .3s ease;
}

.scroll-to-1000 {
    animation: scroll-to-1000 .3s ease;
}

.player .default {
    position: absolute;
    opacity: .3;
    top: 50%;
    left: calc(50% - 30px);
    border: 1px solid #eee;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.player .desc {
    max-width: calc(100% - 80px) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.message-box {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    width: 400px;
    height: 80px;
}

.message-box p {
    text-align: center;
    position: relative;
    top: -22px;
    font-size: 18px;
}
  
.message-box.show {
    bottom: 20px;
    opacity: 1;
}

.message {
    background-color: #f2f2f2;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}

.message h2 {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
  
.player .close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;
}

.player .close-button svg,
.player .copy-button svg {
    width: 20px;
    height: 20px;
}

.player .copy-button {
    background-color: transparent;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    width: 35px;
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 32px;
    transition: .2s ease;
    cursor: pointer;
    margin: 0 5px;
}

.player .copy-button:hover {
    background-color: #fff;
}

@keyframes scroll-to {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes scroll-to-1000 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-290%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 600px) {
    .player .player-controls {
        position: absolute;
        bottom: 10px;
        right: 5px;
        margin-bottom: 5px;
    }

    .message-box {
        width: calc(100vw - 100px) !important;
    }

    .close-button {
        top: 5px !important;
        position: absolute;
    }

    .close-button svg {
        transform: scale(.7);
    }

    .player {
        height: calc(100vh - 120px);
    }

    .player svg {
        width: 30px!important;
        height: 30px!important;
    }

    .player .profile-icon img {
        width: 45px;
        height: 45px;
        border: 1px solid #fff;
    }

    .player.player-controls svg {
        margin-top: 5px;
    }

    .player .player-controls p {
        margin-top: 0px;
    }

    .player .player-controls li {
        margin-bottom: -10px;
    }

    .player .player-controls svg,
    .player .player-controls .save path {
        fill: #fff !important;
        background-color: transparent !important;
        background: radial-gradient(circle, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 80%);
    }

    .player .player-controls .profile-icon svg {
        background-color: transparent !important;
    }

    .player .player-controls p {
        color: #fff;
        margin-top: 10px;
    }

    .player .default {
        margin-left: 30px;
    }

    .player .gradient-overlay {
        margin-left: -60px;
        border-radius: 0;
    }

    .player img {
        margin: 0;
    }

    .player .player-with-all-the-fucking-other-stuff p {
        left: 10px;
    }
}

@media (max-width: 490px) {
    .player .player-with-all-the-fucking-other-stuff img {
        width: 100vw;
        height: calc(100vh - 120px);
        border-radius: 0;
    }

    .player .default {
        display: none;
    }
    
    .player {
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
    }

    .player .gradient-overlay {
        border-radius: 0 !important;
    }

/*     .mobile {
        display: flex;
        position: absolute;
        bottom: 0;
        top: 0;
        background-color: red;
        width: 100%;
    } */
}