.player {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: calc(100vh - 55px);
    border-bottom: 1px solid #fff;
    overflow: hidden;
}

.player img {
    width: 50vh;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 60px;
    cursor: pointer;
}

.player .player-with-all-the-fucking-other-stuff {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.player .player-with-all-the-fucking-other-stuff img {
    height: calc(100vh - 55px);
    background: #000 !important;
}

.player .player-with-all-the-fucking-other-stuff .gradient-overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 60px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .5));
}

.player .player-with-all-the-fucking-other-stuff p {
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    left: 70px;
}

.player .player-with-all-the-fucking-other-stuff strong {
    font-weight: 500;
}

.player .profile-icon span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    bottom: -8px;
    position: absolute;
    display: none; /* to remove */
}

.player span svg {
    fill: #fff;
}

.player li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.player li p {
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    color: #2c2c2c;
}

.player .player-controls img {
    width: 24px;
    margin: 0;
}

.player li svg {
    background-color: #eee;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: -10px !important;
}

.player .player-controls {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-left: 10px;
    margin-bottom: -16px;
}

.player .player-controls li {
    z-index: 29;
}

.player .profile-icon {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 40px;
}

.player audio {
    width: 0;
    height: 0;
}

.player .settings {
    position: absolute;
    right: 10px;
    top: 10px;
}

.player .settings svg {
    fill: #000;
    background-color: #f2f2f262;
    padding: 6px;
    border-radius: 100%;
}

.player .profile-icon img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.player .profile-icon span {
    background-color: #e1002d;
    color: #fff;
}

.player svg {
    width: 24px;
    height: 24px;
    fill: rgb(0, 0, 0);
    cursor: pointer;
}

.player li svg:hover,
.player img:hover {
    background-color: #dadada ;
}

.scroll-to {
    animation: scroll-to .3s ease;
}

.scroll-to-1000 {
    animation: scroll-to-1000 .3s ease;
}

.player .default {
    position: absolute;
    opacity: .3;
    top: 50%;
    left: calc(50% - 30px);
    border: 1px solid #eee;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.player .desc {
    max-width: calc(100% - 80px) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.message-box {
    position: absolute;
    bottom: -50px;
    left: calc( 50% - 5px);
    transform: translateX(-50%);
    padding: 10px 20px 0 20px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 28;
    width: 390px;
    height: 80px;
}

.message-box p {
    text-align: center;
    position: relative;
    top: -18px;
    font-size: 16px;
}
  
.message-box.show {
    bottom: 20px;
    opacity: 1;
    z-index: 30;
}

.message-box .flex-cnt {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: -20px 0 -10px 0;
}

.message-box .flex-cnt li {
    display: flex;
    align-items: center;
}

.message-box .flex-cnt li h5 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
}

.message-box.flex-cnt li p {
    font-size: 14px;
    color: #333;
}

.message {
    background-color: #f2f2f2;
    display: flex;  
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: calc(100% - 20px);
}

.message-also-pt2 {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.message h2 {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
.message-also-pt2 .message {
    position: relative;
    width: 100%;
    left: 0;
    height: auto;
}

.message-also-pt2 .message h2 {
    width: 100%;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: wrap;
    padding: 0px 5px;
}

.player .close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 5px;
}

.player .close-button svg,
.player .copy-button svg {
    width: 20px;
    height: 20px;
}

.player .copy-button {
    background-color: transparent;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    width: 35px;
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 32px;
    transition: .2s ease;
    cursor: pointer;
    margin: 0 5px;
}

.player .copy-button:hover {
    background-color: #fff;
}

.player .hashtags-cnt {
    left: -50%;
    position: relative;
    transform: translateX(50%);
}

.player .hashtags-cnt p {
    text-align: start;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
}

@keyframes scroll-to {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes scroll-to-1000 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-290%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes scroll-to-other {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media (max-width: 600px) {
    .player .player-controls {
        position: absolute;
        bottom: 10px;
        right: 5px;
        margin-bottom: 5px;
    }

    .scroll-to-other {
        animation: scroll-to-other .3s ease;
    }

    .player {
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
    }

    .player .player-with-all-the-fucking-other-stuff img {
        width: 100vw;
        height: calc(100dvh - 55px);
        border-radius: 0;
    }

    .player .gradient-overlay {
        border-radius: 0 !important;
    }

    .message-box.show {
        bottom: 10px;
    }

    .message-box {
       left: 50%;
    }

    .close-button {
        top: 5px !important;
        position: absolute;
    }

    .close-button svg {
        transform: scale(.7);
    }

    .player {
        height: calc(100dvh - 55px);
    }

    .player svg {
        width: 30px!important;
        height: 30px!important;
    }

    .player .profile-icon img {
        width: 45px;
        height: 45px;
        border: 1px solid #fff;
    }

    .player .player-controls p {
        margin-top: 0px;
    }

    .player .player-controls li {
        margin-bottom: -10px;
    }

    .player .player-controls svg,
    .player .player-controls .save path {
        fill: #fff !important;
        background-color: transparent !important;
        background: radial-gradient(circle, rgba(0,0,0,0.15) 0%, rgba(255,255,255,0) 60%);
    }

    .player .player-controls .profile-icon svg {
        background-color: transparent !important;
    }

    .player .player-controls p {
        color: #fff;
        margin-top: 10px;
    }

    .player .default {
        margin-left: 30px;
    }

    .player .gradient-overlay {
        margin-left: -60px;
        border-radius: 0;
    }

    .player img {
        margin: 0;
    }

    .player .player-with-all-the-fucking-other-stuff p {
        left: 10px;
    }
}

@media (max-width: 490px) {
    .player .player-with-all-the-fucking-other-stuff img {
        width: 100vw;
        height: calc(100dvh - 55px);
        border-radius: 0;
    }

    .message-box {
        width: calc(100vw - 60px) !important;
    }

    .player .default {
        display: none;
    }
    
    .player {
        top: 0;
        transform: translateY(0);
        left: 50%;
        transform: translateX(-50%);
        border-radius: 0;
    }

    .player .gradient-overlay {
        border-radius: 0 !important;
    }

/*     .mobile {
        display: flex;
        position: absolute;
        bottom: 0;
        top: 0;
        background-color: red;
        width: 100%;
    } */
}


.player .player-with-all-the-fucking-other-stuff img {
    max-width: 100vw;
    object-fit: contain;
    background-color: #000 !important;
}

.player .default {
    display: none;
}

/* .player div {
    background-color: red !important;
} */

.player .liked {
    fill: #e1002d;
}


.comments {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.comments-list {
    margin-bottom: 20px;
}

.comment-item {
    margin-bottom: 10px;
}

.add-comment {
    display: flex;
    flex-direction: column;
}

.add-comment textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.add-comment button {
    align-self: flex-end;
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-comment button:hover {
    background-color: #45a049;
}
